*{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;;
}


.banner-container{
    background: rgb(155, 151, 151);
    width: 100;
    height: 100vh;
    background-image: url(../images/donation2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-blend-mode: multiply;
    top: 30%;
    left: 50%;
}
.banner-container h1{
    font-weight: 700;
    font-size: 65px;
    color:antiquewhite;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 200px;
}
.banner-container p{
    font-size: 18px;
    color: #ffffff;
    padding-bottom: 30px;
}
.primary-btn{
    padding: 15px 20px;
    background: red ;
    border-radius: 5px;
    color: blanchedalmond;
    font-weight: 600;
    font-size: 20px;
    border: none;
}
.amount{
    margin-left: 10px;
}
.amount h3{
    padding: 30px 25px;
    font-size: 28px;
    font-weight: 700;
    width: 120px;
    background: #fafafa;
    margin: auto;
    color: #707070;
    border: 2px solid transparent;
    text-align: center;

}
.amount h3:hover{
    background: #ffeeee;
    border: 2px solid #ff5959;
     border-radius: 5px;
  }
.section-title{
    font-weight: 600;
    font-size: 50px;
    margin-top: 130px;
    text-align: center;

}
.p-title{
    width: 690px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #b3b3b3;
    text-align: center;
}
.amount{
    margin-left: 22px;
}
.amounts-option{
    display: flex;
    justify-content: center;
}
.other-amount{
    margin-top: 60px;
}
.other-amount h3{
    text-align: center;
}
.other-amount p {
    margin-bottom: 10px;
  }
.other-amount span {
    display: block;
    margin: auto;
    width: 55%;
    border: 1px solid #dadada;
    margin-bottom: 30px;
  }
  .cards {
    display: flex;
    justify-content: center;
  }
  .card {
    padding: 54px 23px;
    margin-left: 24px;
  }
  .card img {
    margin-bottom: 32px;
  }
  .card h4 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
  }
  .card p {
    width: 315px;
    color: #707070;
  }
.survive{
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 83px;
  }
.survive-one-left h2 {
    font-weight: 700;
    font-size: 42px;
    width: 492px;
  }
.survive-one-left p {
    width: 482px;
    margin: 20px 0;
  }
.survive-img img {
    width: 572px;
  }
.footer-ending{
    margin-top: 100px;
    width: 100%;
    height: 200px;
    background-color: black;
    position: relative;
    text-align: center;
}

.footer-ending h1{
    color: rgb(185,63,63);
    font-family: 'Lobster';
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-top: 55px;
}
.footer-ending p{
    color: white;
}

.email-border {
    width: 809px;
  
    height: 200px;
  
    margin: auto;
  
    padding: 76px 190px;
  
    background: #fff4d6;
  
    position: relative;
  }
.email-border input {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    border: none;
    background: #d9d9d9;
    border-radius: 5px 0px 0px 5px;
    width: 275px;
    height: 48px;
  }
.email-border input::placeholder {
    padding-left: 17px;
  }
.updates {
    position: relative;
  }
.email-border .primary-btn {
    position: absolute;
    top: 43%;
    left: 54%;
    width: 157px;
    padding: 0;
    padding: 10px;
    border-radius: 0;
  }